In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.service import Service

In [2]:
drivers = webdriver.Chrome(r"C:\Users\Dell\Videos\chromedriver_win32\chromedriver.exe")

drivers.get('https://www.forbes.com/billionaires/')

In [24]:
# rank

Rank = []

rank = drivers.find_elements(By.XPATH, '//div[@class= "rank"]')

for i in rank:
    Rank.append(i.text)

In [23]:
# Name

Name = []

name = drivers.find_elements(By.XPATH, '//div[@class="personName"]')

for i in name:
    Name.append(i.text)

In [55]:
# Net Worth

Net_Worth = []

networth = drivers.find_elements(By.XPATH, '//div[@class="netWorth"]')
    
for i in networth:
    Net_Worth.append(i.text)

In [26]:
# age 

Age = []

age = drivers.find_elements(By.XPATH, '//div[@class="age"]')

for i in age:
    Age.append(i.text)

In [28]:
# citizen

Country = []

country = drivers.find_elements(By.XPATH, '//div[@class="countryOfCitizenship"]')

for i in country:
    Country.append(i.text)

In [33]:
# source-text

Source = []

source = drivers.find_elements(By.XPATH, '//span[@class="source-text"]')

for i in source:
    Source.append(i.text)

In [37]:
# category

Industry = []

industry = drivers.find_elements(By.XPATH, '//div[@class="category"]')

for i in industry:
    Industry.append(i.text)

In [42]:
import pandas as pd

final = pd.DataFrame()

final['Rank']= Rank
final['Name']= Name
final['Net_Worth']= Net_Worth
final['Age']= Age
final['Country']= Country
final['Source']= Source
final['Industry']= Industry

final

,Rank,Name,Net_Worth,Age,Country,Source,Industry
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,72,Brazil,beer,Food & Beverage
196,197.,Leon Black,$10 B,70,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,$10 B,40,United States,Airbnb,Technology
198,197.,David Geffen,$10 B,79,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,$10 B,56,China,semiconductors,Manufacturing